/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R   &kp T        &kp Y    &kp U   &kp I      &kp O    &kp P          &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F   &kp G        &kp H    &kp J   &kp K      &kp L    &kp SEMICOLON  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V   &kp B        &kp N    &kp M   &kp COMMA  &kp DOT  &kp FSLH       &kp ESCAPE
                              &kp LEFT_GUI  &tog 2  &kp SPACE    &kp RET  &tog 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &bt BT_PRV      &kp PAGE_UP       &bt BT_NXT  &kp EXCL  &kp AT       &kp HASH   &kp F7  &kp F8    &kp F9  &kp F10  &kp DELETE
&trans  &kp HOME        &kp PAGE_DOWN     &kp END     &kp DLLR  &kp PRCNT    &kp CARET  &kp F4  &kp F5    &kp F6  &kp F11  &bt BT_CLR
&trans  &kp K_PREVIOUS  &kp K_PLAY_PAUSE  &kp K_NEXT  &trans    &trans       &kp AMPS   &kp F1  &kp F2    &kp F3  &kp F12  &trans
                                          &kp LGUI    &tog 0    &kp SPACE    &kp RET    &tog 2  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp BACKSLASH  &kp UP_ARROW  &kp PIPE        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp KP_MULTIPLY  &kp N7        &kp N8        &kp N9        &kp MINUS   &kp DELETE
&trans  &kp LEFT       &kp DOWN      &kp RIGHT       &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp KP_DIVIDE    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS    &kp KP_EQUAL
&trans  &kp GRAVE      &kp TILDE     &kp UNDERSCORE  &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp N0           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_DOT  &trans
                                     &kp LGUI        &tog 1                &kp SPACE                &kp RET          &tog 0        &kp RALT
            >;
        };
    };
};
